#query {
  padding: 30px 0 13px;
  background-color: #50b9ce;
}

#query .flex{
  align-items: center;
}

#query h5 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 2px;
  margin-bottom: 7px;
  font-weight: 800;
  letter-spacing: -0.5px;
  font-size: 18px;
}

#query p {
  color: #255f6b;
  letter-spacing: -0.4px;
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 10px;
}

#query .button{
  background-color: black;
  transition: all 0.5s ease-in-out;
}

#query .button:hover{
  border: 1px solid #000000;
  background: #ffffff;
  color: #000;
  transition: all 0.5s ease-in-out;
}


@media screen and (max-width:840px) {
  #query .flex{
    text-align: center;
  }
}

@media screen and (max-width:480px){
  #query .flex{
    flex-direction: column;
  }
}