#search .filter-container h1, .results-container h2{
  color: #ecf0f1;
}

#search .filter-container {
  background: #34495e;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#search .filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#search .filters select,
.filters input {
  margin: 5px 10px;
  padding: 10px;
  width: 160px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: #ecf0f1;
  color: #34495e;
}

#search .filters select:focus,
.filters input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#search .filters button {
  margin: 5px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search .filters button:hover {
  background-color: #0056b3;
}

#search .results-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#search .results-container.show {
  opacity: 1;
}

#search .result-item {
  background: #34495e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #ecf0f1;
}

#search .result-item:hover {
  transform: scale(1.05);
}

#search .result-item button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search .result-item button.marked {
  background-color: #dc3545; /* Red background for unmarking */
}

#search .result-item button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#search .result-item button.marked:hover {
  background-color: #c82333; /* Darker red on hover */
}

#search .flex button{
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search .flex{
  justify-content: center;
  gap: 20px;
}