#search .filter-container h1 {
  color: #ecf0f1;
}

#search .results-container h2 {
  font-size: 10px;
}

#search .filter-container {
  background: #314555;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#search .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#search .filters select,
.filters input {
  margin: 5px 10px;
  padding: 10px;
  width: 160px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: #ecf0f1;
  color: #34495e;
}

#search .filters select:focus,
.filters input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#search .flex-btn button {
  margin: 5px 10px;
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #50b9ce;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search .view-btn:hover {
  background-color: #287e90;
}

#search .clear-btn:hover {
  background-color: #d3d3d3;
}

#search .results-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#search .results-container.show {
  opacity: 1;
}

#search .result-item {
  background: #ecf0f1;
  margin: 0px;
  padding: 0px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  color: #34495e;
  font-size: 12px;
  height: 40px;
  text-align: left;
}

#search .result-item:hover {
  background-color: #7b8ea148;
}

#search .flex-btn {
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#search .truck-info {
  width: 90%;
  justify-content: flex-start;
}

#search .truck-info h3 {
  flex: 0 0 20%;
}
#search .truck-info p {
  flex: 0 0 50%;
}

#search .modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay */
  justify-content: center;
  align-items: center;
}

/* Modal content */
#search .modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* Modal buttons */
#search .modal-buttons {
  margin-top: 20px;
}

#search .modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  #search .result-item {
    height: auto;
  }
  #search .truck-info {
    justify-content: space-between;
  }
  #search .truck-info h3 {
    flex: 0 0 30%;
  }
  #search .truck-info p {
    flex: 0 0 70%;
  }
  #search .filters {
    justify-content: center;
  }
  #search .filter-container {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #search .filters select,
  .filters input {
    border-radius: 25px;
    width: 90%;
  }
  #search .filters {
    flex-direction: column;
    width: unset;
    gap: 20px;
  }
}
